<div class="container mt-5">
  <h1 class="text-center mb-4">Users List</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{name}}</td>
          <td>{{address.street}}, {{address.suite}}, {{address.city}}, {{address.zipcode}}</td>
          <td><a href="http://{{website}}" target="_blank">{{website}}</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
